.elementor-272 .elementor-element.elementor-element-34a6ef5{text-align:left;color:#7A7A7A;}.elementor-272 .elementor-element.elementor-element-34a6ef5 > .elementor-widget-container{margin:15px 15px 15px 15px;padding:15px 15px 15px 15px;}.elementor-272 .elementor-element.elementor-element-d429cdf{color:#FFFFFF;font-family:"Roboto Slab", Sans-serif;font-size:24px;font-weight:400;}.elementor-272 .elementor-element.elementor-element-ef7fa46{color:var( --e-global-color-primary );}
/*
     FILE ARCHIVED ON 18:04:26 Nov 24, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:13:07 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.064
  cdx.remote: 0.146
  esindex: 0.018
  LoadShardBlock: 68.181 (6)
  PetaboxLoader3.datanode: 89.285 (8)
  load_resource: 93.697
  PetaboxLoader3.resolve: 27.523
  loaddict: 49.218
*/